h1 {
    margin-bottom: 20px;
}

.new-bar {
    width: 80%;
    margin-right: 10px;
}

.bar-item {
    padding-bottom: 7px;
}

.wrapper {
    padding: 20px 40px;
    border-width : 1px;
    border: solid 1px #e5e5e5;
    margin: 20px auto;
    width: 50%;
}